.tablasOperar {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
.tablasOperarCerradas {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .tablasOperar {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
  }
  .tablasOperarCerradas {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) and (min-device-width: 1025px) {
  .tablasOperar {
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
  }
  .tablasOperarCerradas {
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 10px;
  }
  .tablasOperacionesTodas {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }
  .tablasOperacionesTodas hr {
    display: none;
  }

  .tablasOperacionesTodas > .cargandoDatos {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 10px;
  }
}

.tablasGrupos {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin: 4px 4px;
  padding: 0px;
}

.tablaGrupos {
  margin: 0px;
  border-collapse: collapse;
  border-style: hidden;
  table-layout: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}
.tablaGrupos td {
  cursor: pointer;
  font-size: 11px;
}

.tablaOperaciones {
  margin: 0px;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(37 37 37);
}
.tablasOperaciones {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 97%;
  margin: 1% auto;
}
.operacionesLineas td {
  cursor: pointer;
}

.divOperacion * {
  font-size: 12px;
}
.divOperacion,
.divOperacionAdd,
.divOperacionEditClose {
  padding: 5px 5px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 55% 10%;
  grid-template-rows: 20px;
  border: 2px solid var(--tema-texto);
  border-radius: 5px;
  row-gap: 3px;
  align-items: center;
  justify-items: stretch;
}
.divOperacion p {
  text-align: left;
}
.divOperacion label {
  margin: 0px;
}

.divOperacion-hidden {
  display: none;
}
.divOperacion input {
  width: 100%;
}
.operacionEditImg {
  margin-left: 35%;
  cursor: pointer;
}
.operacionEditImgHidden {
  margin-left: 35%;
  opacity: 0.2;
  pointer-events: none;
}

.inputEditOperationSelect {
  width: 101%;
  margin: 0 auto;
  height: 20px;
  text-align-last: center;
}

.inputEditOperation {
  width: 100%;
  margin: 0 auto;
}

.divOperacionEdit,
.divOperacionEdit > h1,
.divOperacionEdit > p,
.divOperacionEdit > img {
  background-color: rgb(253, 221, 178);
  color: black;
}

.divOperacionAdd,
.divOperacionAdd > h1,
.divOperacionAdd > p,
.divOperacionAdd > img {
  background-color: rgb(253, 221, 178);
  color: black;
}

.divOperacionEditClose,
.divOperacionEditClose > h1,
.divOperacionEditClose > p,
.divOperacionEditClose > img {
  background-color: rgb(253, 221, 178);
  color: black;
}

.operacionesLineasAdd h3 {
  display: inline;
  vertical-align: top;
}
.operacionesLineasAdd td {
  cursor: pointer;
}
