.valoracionessMonedascont {
  position: absolute;
  top: 15%;
  margin: 0px;
  width: 100%;
  height: 64%;
}
.valoracionessMonedas {
  margin: 0px;
  width: 100%;
  height: 99%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.valoracionessMonedas li {
  list-style: none;
  font-style: italic;
  margin: 2px 3px;
  width: 99%;
  font-size: 12px;
}

.valoracionessMonedas > img {
  width: 150px;
  height: 30px;
  align-self: center;
  margin: 0px;
}

#estrellasValoracionClick {
  width: 90px;
  height: 18px;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.divInputValoracion {
  width: 97%;
  margin: 0px auto;
  border-top: 1px solid;
  display: flex;
  padding: 0px 4px;
  justify-content: space-between;
}

.divInputValoracion input {
  height: 2rem;
  margin: 0 auto;
}

.divInputValoracionRight {
  width: 10%;
  padding-top: 15px;
}

.divInputValoracionLeft {
  margin: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.divInputValoracionLeft p {
  display: inline;
}

.divInputValoracionLeft textarea {
  min-height: 30px;
  max-height: 30px;
  min-width: 100%;
  max-width: 100%;
}

.liValoracionUser {
  background-color: rgb(248, 244, 203);
  border: 1px solid;
  border-radius: 5px;
  color: black;
}
.liValoracionUser img {
  background-color: rgb(248, 244, 203);
}
