.tablasAprender {
  width: 95%;
  margin: 0 auto;
  margin-top: 60px;
}

.imagenContenido {
  width: 70%;
  height: 70%;
  display: block;
  margin: 0px auto;
  border: 2px solid var(--tema-texto);
  background-color: var(--tema-fondo);
  border-radius: 5px;
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .tablasAprender {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
  }
  .imagenContenido {
    width: initial;
    height: initial;
  }
}

@media screen and (min-width: 1300px) and (min-device-width: 1025px) {
  .tablasAprender {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
  }
  .imagenContenido {
    width: initial;
    height: initial;
  }
}

.tablasTemas {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
}

.tablasSubTemas {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 0px 10px;
  align-items: center;
  /* height: 50px; */
}
.tablasContenido {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 0px 20px;
  align-items: flex-start;
}

.tablasTemasli,
.tablasSubTemasli,
.tablasContenidoli {
  list-style: none;
  /* height: 50px; */
}

.tablasTemas *,
.tablasSubTemas * {
  cursor: pointer;
}
.imagenSubtema {
  margin-left: auto;
}

.subtema {
  font-size: large;
}
