.monedadetails {
  width: 90%;
  height: 80%;
  position: fixed;
  left: 5%;
  top: 10%;
  border: 2px solid var(--tema-texto);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 300;
  cursor: initial;
}

.monedadetailsFondo {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 200;
  cursor: initial;
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .monedadetails {
    width: 80%;
    left: 10%;
    height: 80%;
    top: 10%;
  }
}
@media screen and (min-width: 1350px) and (min-device-width: 1025px) {
  .monedadetails {
    width: 70%;
    left: 15%;
    height: 80%;
    top: 10%;
  }
}

.monedadetails > p {
  width: 95%;
  text-align: left;
  padding: 3px 0px 0px 0px;
  margin: 0px;
}
.cabeceraMonedaDetails {
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--tema-texto);
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}
.cabeceraMonedaDetails > img {
  padding: 3px;
}
.cabeceraMonedaDetails > p {
  padding: 0;
  margin: 0px;
  font-weight: bold;
  font-size: 1.5rem;
  flex-grow: 2;
}

.monedadetails > button {
  position: absolute;
  width: 30%;
  height: 25px;
  bottom: 2%;
  border-radius: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}

.monedadetails > button:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}

.detailsMonedaFavorita {
  cursor: pointer;
}

.cabeceradetailsmonedas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid var(--tema-texto);
  border-radius: 5px;
}
.cabeceraMonedaDetails {
  border-bottom: 0px;
}
.cabeceradetailsmonedas img {
  cursor: pointer;
}
.cabeceradetailsmonedas div {
  padding-right: 3px;
}
.cabeceradetailsmonedas p {
  padding-left: 3px;
}

.chartsContainer {
  width: 99%;
}
.mixed-chart {
  width: 95%;
}

.apexcharts-xaxistooltip {
  padding: 1px;
  background-color: khaki;
}

.apexcharts-title-text {
  fill: var(--tema-texto);
}
.apexcharts-text {
  fill: var(--tema-texto);
}
