.newUserDetails {
  position: absolute;
  top: 80px;
  left: 20%;
  width: 60%;
  z-index: 0;
  border: 3px solid var(--tema-texto);
  border-radius: 5px;
  background-color: var(--tema-fondo-tabla);
}

@media screen and (min-width: 750px) and (min-device-width: 1025px) {
  .newUserDetails {
    width: 40%;
    left: 30%;
    margin-top: 2%;
  }
}
.newUserDetails div {
  border: 3px solid var(--tema-texto);
  border-radius: 5px;
  width: 85%;
  margin: 1% auto 3%;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}
.newUserDetails div form {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.newUserDetails h2,
.newUserDetails > h3 {
  text-align: center;
  background-color: var(--tema-fondo-tabla);
}

.inputNewUser {
  width: 80%;
  height: 2rem;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
}
#userCreado {
  border: 0px;
  background-color: var(--tema-fondo);
  box-shadow: none;
}

#userCreado > h2 {
  border: 0px;
  background-color: var(--tema-fondo);
}
