.modalFondoConfirm {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 400;
}

.modalMensajeConfirm {
  width: 70vw;
  position: fixed;
  left: 15vw;
  top: 30%;
  border: 3px solid var(--tema-texto);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 500;
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .modalMensajeConfirm {
    width: 40vw;
    left: 29vw;
  }
}
@media screen and (min-width: 1350px) and (min-device-width: 1025px) {
  .modalMensajeConfirm {
    width: 30vw;
    left: 34vw;
  }
}

.modalMensajeConfirm > div {
  width: 80%;
}
.modalMensajeConfirm > p {
  font-size: x-large;
  text-align: center;
}

.modalButtonConfirm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalButtonConfirm > .buttonConfirm {
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid var(--tema-texto);
  box-shadow: 3px 3px 30px rgb(255 115 115) inset;
  width: 40%;
  height: 2rem;
}

.modalButtonConfirm > .buttonConfirm:hover {
  transition: all 0.5s ease;
  transform: scale(1.1, 1.1);
}
