.modalFondo {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 400;
}

.modalMensaje {
  width: 70vw;
  position: fixed;
  left: 15vw;
  top: 30%;
  border: 3px solid var(--tema-texto);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 500;
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .modalMensaje {
    width: 40vw;
    left: 29vw;
  }
}
@media screen and (min-width: 1350px) and (min-device-width: 1025px) {
  .modalMensaje {
    width: 30vw;
    left: 34vw;
  }
}

.modalMensaje > div {
  width: 50%;
}
.modalMensaje > p {
  font-size: x-large;
  text-align: center;
}

.button {
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid var(--tema-texto);
  box-shadow: 3px 3px 30px rgb(255 115 115) inset;
  width: 50%;
  height: 2rem;
}

.modalMensaje > button:hover {
  transition: all 0.5s ease;
  transform: scale(1.1, 1.1);
}
