.tablasConsultar {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .tablasConsultar {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1300px) and (min-device-width: 1025px) {
  .tablasConsultar {
    width: 95%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .tablasInversion {
    width: 70%;
  }
  .consultarMercado {
    width: 100%;
    display: column;
  }

  .tablasConsultar > .cargandoDatos {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    margin: 40px 10px 0px 0px;
  }
}
