.tablaInversion {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin-bottom: 6px;
}

.tablaInversiones {
  border: 1px solid var(--tema-texto);
  margin: 0;
  border-collapse: collapse;
  border-style: hidden;
  table-layout: fixed;
  width: 100%;
}

.filaTotales > td {
  font-size: 11px;
  font-weight: bold;
}
