:root {
  --tema-black-fondo: rgb(40, 40, 40);
  --tema-white-fondo: rgb(205, 205, 205);

  --tema-black-fondo-tabla: rgb(95, 95, 95);
  --tema-white-fondo-tabla: rgb(150, 150, 150);

  --tema-black-header-tabla: rgb(120, 120, 120);
  --tema-white-header-tabla: rgb(175, 175, 175);

  --tema-black-texto: rgb(205, 205, 205);
  --tema-white-texto: rgb(40, 40, 40);

  --tema-black-texto-alt: rgba(245, 245, 245, 0.9);
  --tema-white-texto-alt: rgba(10, 10, 10, 0.9);

  --font-light: 'Montserrat-Light', sans-serif;
  --font-medium: 'Montserrat-medium', sans-serif;
  --font-regular: 'Montserrat-regular', sans-serif;
  --font-black: 'Montserrat-black', sans-serif;
}

.mensajeError {
  color: brown;
}
.mensajeErrorcenter {
  text-align: center;
  color: brown;
}

input {
  height: 20px;
  text-align: center;
  border-radius: 3%;
}
input[type='submit'] {
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid var(--tema-texto);
  box-shadow: 3px 3px 30px rgb(255, 115, 115) inset;
}
input[type='button'] {
  cursor: pointer;
}
button {
  cursor: pointer;
  border-radius: 5%;
  border: 3px solid var(--tema-texto);
  box-shadow: 3px 3px 30px rgb(255, 115, 115) inset;
  padding: 1px 5px;
}

input[type='password']:focus,
input[type='email']:focus,
input[type='text']:focus {
  box-shadow: 0px 0px 10px rgb(117, 117, 117) inset,
    0px 0px 7px var(--tema-texto);
}

input[type='submit']:focus {
  box-shadow: 0px 0px 7px rgb(255, 233, 233) inset,
    0px 0px 7px rgb(255, 120, 120);
  outline: 0 none;
}

select {
  border: 1px solid white;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('./assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('./assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Black.woff') format('woff');
}

body {
  width: 99%;
}

#root {
  width: 99%;
  margin: 0 auto;
}

.App {
  width: 99%;
}

.noborder {
  border-right: 0px;
}

.varred {
  background-color: rgb(255, 195, 195);
  color: black;
}
.varredmedio {
  background-color: rgb(248, 128, 128);
  color: black;
}
.varredstrong {
  background-color: rgb(255, 60, 60);
  color: black;
}

.vargreen {
  background-color: rgb(195, 255, 195);
  color: black;
}
.vargreenmedio {
  background-color: rgb(128, 255, 128);
  color: black;
}
.vargreenstrong {
  background-color: rgb(60, 255, 60);
  color: black;
}

.vargrey {
  background-color: rgb(231, 231, 231);
  color: black;
}
.precio_actual {
  background-color: rgb(226, 255, 192);
  color: black;
  font-weight: bold;
}

.negrita {
  font-weight: bold;
}

.vacioScroll {
  height: 100px;
}
