.profileDetails {
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
  border: 3px solid var(--tema-texto);
  border-radius: 5px;
  background-color: var(--tema-fondo-tabla);
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .profileDetails {
    width: 40%;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1300px) and (min-device-width: 1025px) {
  .profileDetails {
    width: 30%;
    margin: 0 auto;
    margin-top: 80px;
  }
}

.profileDetails > div {
  border: 3px solid var(--tema-texto);
  border-radius: 5px;
  width: 95%;
  margin: 2px auto;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}
.profileDetails div form {
  width: 90%;
  margin: 2px auto 5px;
  align-items: center;
  text-align: center;
}

.profileDetails input {
  width: 80%;
  height: 1.3rem;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  z-index: 20;
}

.profileDetails > h2,
.profileDetails > h3 {
  text-align: center;
  background-color: var(--tema-fondo-tabla);
}
.campoEmail {
  display: none;
}

#elegirFicherohidden {
  display: none;
}

.cambiarAvatar {
  cursor: pointer;
}

.cambiarAvatarimg {
  border-radius: 50%;
  border: 4px solid var(--tema-texto);
  object-fit: cover;
}

.profileDetails .button {
  width: 80%;
  height: 2rem;
  border-radius: 15px;
}

#deleteUser {
  width: 60%;
  margin: 10px auto;
}
