.conttablaMercado {
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
.contenedorTablas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tablaMercado {
  width: 50%;
}
.tablaMercadovar {
  width: 50%;
}
.preciosmercado {
  width: 100%;
}

.tablasInversion {
  width: 95%;
  margin: 0 auto;
}
.tablaInversiones {
  width: 70%;
}

.nav-main {
  display: flex;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 73px;
  background-color: var(--tema-fondo);
  margin: 0px;
  border-bottom: 1px solid var(--tema-texto);
  z-index: 100;
}

.nav-main a {
  text-decoration: none;
}
.nav-logo {
  width: 6rem;
  font-size: 3rem;
  height: 3.5rem;
  text-align: center;
  text-decoration: underline;
}
.nav-logo:hover {
  transition: all 0.5s ease;
  transform: scale(1.2, 1.2);
}
.nav-menu {
  width: 70vw;
  display: flex;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  list-style: none;
}
.nav-menu li {
  margin-top: 1rem;
  padding: 0 0.9vw 0 0.9vw;
  text-align: center;
  line-height: 1.5rem;
  display: block;
}
.nav-menu li > a {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-menu li:hover {
  border: 2px solid var(--tema-texto);
  background-color: var(--tema-fondo);
  border-radius: 5px;
  transition: all 0.5s ease;
  transform: scale(1.2, 1.2);
}
.nav-main h2 {
  display: none;
}

.nav-theme-imagen {
  position: fixed;
  top: 24px;
  right: 65px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
  border: 1px solid rgba(180, 180, 180, 0.424);
  box-shadow: 1px 1px 5px var(--tema-texto), -1px -1px 5px var(--tema-texto),
    1px -1px 5px var(--tema-texto), -1px 1px 5px var(--tema-texto);
}

.nav-mano-imagen {
  display: none;
}

.avatar-image {
  position: fixed;
  top: 14px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
  border: 1px solid rgba(180, 180, 180, 0.424);
  box-shadow: 1px 1px 5px var(--tema-texto), -1px -1px 5px var(--tema-texto),
    1px -1px 5px var(--tema-texto), -1px 1px 5px var(--tema-texto);
  object-fit: cover;
}

.avatar-image:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}

.nav-theme-imagen:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}
.nav-mano-imagen:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}

.menuSelected {
  border: 2px solid var(--tema-texto);
  background-color: var(--tema-fondo);
  border-radius: 5px;
  margin-bottom: 4px;
}
