.conttablaMercado {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.contenedorTablas {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tablaMercado {
  width: 99%;
}
.tablaMercadovar {
  width: 99%;
}
.preciosmercado {
  width: 100%;
}

.tablasInversion {
  width: 100%;
  margin: 0 auto;
}
.tablaInversiones {
  width: 100%;
}

.nav-main a {
  text-decoration: none;
}
.nav-logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 6rem;
  font-size: 3rem;
  height: 3.5rem;
  text-align: center;
  text-decoration: underline;
  z-index: 5;
}
.nav-logo:hover {
  transition: all 0.5s ease;
  transform: scale(1.2, 1.2);
}
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 8rem;
}
.nav-menu li {
  margin: 0;
  padding: 0;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  border: 1px solid var(--tema-texto);
  line-height: 2.5rem;
  display: block;
}
.nav-menu li > a {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-menu li:hover {
  border: 2px solid var(--tema-texto);
  transition: all 1s ease;
  transform: scale(1.1, 1.1);
  font-size: 1.2rem;
  border-radius: 5px;
}
.nav-main h2 {
  margin-top: 0.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}
.contenedorMenuhidden h2:hover {
  transition: all 1s ease;
  transform: scale(1.5, 1.5);
}
.contenedorMenuhiddenDer h2:hover {
  transition: all 1s ease;
  transform: scale(1.5, 1.5);
}

.nav-main form {
  padding: 0 10 10 0;
  width: 8rem;
  height: 2rem;
  text-align: justify;
}

.contenedorMenuhidden {
  background-color: var(--tema-fondo);
  margin-top: 1rem;
  width: 10.5rem;
  height: 2.7rem;
  position: fixed;
  left: -8.3rem;
  bottom: 10%;
  border-top: 2px solid var(--tema-texto);
  border-bottom: 2px solid var(--tema-texto);
  border-right: 3px ridge var(--tema-texto);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  cursor: pointer;
}

.contenedorMenuhiddenDer {
  background-color: var(--tema-fondo);
  margin-top: 1rem;
  width: 10.5rem;
  height: 2.7rem;
  position: fixed;
  right: -8.3rem;
  bottom: 10%;
  border-top: 2px solid var(--tema-texto);
  border-bottom: 2px solid var(--tema-texto);
  border-left: 3px ridge var(--tema-texto);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 100;
  cursor: pointer;
  margin-left: 40px;
}

.contenedorMenuvisible {
  margin: 0;
  padding: 0;
  width: 8rem;
  position: fixed;
  left: 0rem;
  bottom: 10%;
  border: 0;
  transition: all 0.6s ease;
  transform: translateX(2rem);
  z-index: 100;
  cursor: pointer;
}

.contenedorMenuvisibleDer {
  margin: 0;
  padding: 0;
  width: 4rem;
  position: fixed;
  right: 8rem;
  bottom: 10%;
  border: 0;
  transition: all 0.6s ease;
  transform: translateX(2rem);
  z-index: 100;
  cursor: pointer;
}

.contenedorMenuhidden > h2 {
  background-color: rgba(177, 177, 177, 0);
  font-size: 1.6rem;
  font-weight: bolder;
  position: absolute;
  left: 8.3rem;
  top: -0.1rem;
}

.contenedorMenuhiddenDer > h2 {
  background-color: rgba(177, 177, 177, 0);
  font-size: 1.6rem;
  font-weight: bolder;
  position: absolute;
  right: 8.3rem;
  top: -0.1rem;
}
.contenedorMenuhidden > ul {
  display: none;
}
.contenedorMenuhiddenDer > ul {
  display: none;
}

.nav-theme-imagen {
  position: fixed;
  top: 24px;
  right: 65px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
  border: 1px solid rgba(180, 180, 180, 0.424);
  box-shadow: 1px 1px 5px var(--tema-texto), -1px -1px 5px var(--tema-texto),
    1px -1px 5px var(--tema-texto), -1px 1px 5px var(--tema-texto);
}

.nav-mano-imagen {
  position: fixed;
  top: 24px;
  right: 95px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
  border: 1px solid rgba(180, 180, 180, 0.424);
  box-shadow: 1px 1px 5px var(--tema-texto), -1px -1px 5px var(--tema-texto),
    1px -1px 5px var(--tema-texto), -1px 1px 5px var(--tema-texto);
  object-fit: cover;
}

.avatar-image {
  position: fixed;
  top: 14px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  box-sizing: border-box;
  border: 1px solid rgba(180, 180, 180, 0.424);
  box-shadow: 1px 1px 5px var(--tema-texto), -1px -1px 5px var(--tema-texto),
    1px -1px 5px var(--tema-texto), -1px 1px 5px var(--tema-texto);
  object-fit: cover;
}

.avatar-image:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}

.nav-theme-imagen:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}
.nav-mano-imagen:hover {
  transition: all 0.5s ease;
  transform: scale(1.3, 1.3);
}
