* {
  color: var(--tema-texto);
  background-color: var(--tema-fondo);
  font-family: var(--font-regular);
  margin: 1px;
  padding: 0px;
}

html {
  --tema-fondo: var(--tema-white-fondo);
  --tema-texto: var(--tema-white-texto);
  --tema-texto-alt: var(--tema-white-texto-alt);
  --tema-fondo-tabla: var(--tema-white-fondo-tabla);
  --tema-header-tabla: var(--tema-white-header-tabla);
}

/* Variables de color si el tema es dark */
html[data-tema='1'] {
  --tema-fondo: var(--tema-black-fondo);
  --tema-texto: var(--tema-black-texto);
  --tema-texto-alt: var(--tema-black-texto-alt);
  --tema-fondo-tabla: var(--tema-black-fondo-tabla);
  --tema-header-tabla: var(--tema-black-header-tabla);
}

@import 'nav.css' screen and (min-width: 750px) and (min-device-width: 1025px);
@import 'nav_mobile.css' screen and (max-width: 750px) and
  (min-device-width: 1025px);
@import 'nav_mobile.css' screen and (min-device-width: 0px) and
  (max-device-width: 1024px);
