.tablasAdministrar {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  width: 99%;
  margin: 0 auto;
  padding: 3px 3px;
}
.tablaAdministrar {
  margin: 0px;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}

.tablasAdministrarAcciones select {
  width: 40%;
}

.tablasAdministrarAcciones {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin: 80px auto 5px;

  width: 99%;
  padding: 3px 3px;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}
