.tablaMercadoTopsContenedor {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 750px) and (min-device-width: 1025px) {
  .tablaMercadoTopsContenedor {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .tablaMercadoTopsContenedor {
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1300px) and (min-device-width: 1025px) {
  .tablaMercadoTopsContenedor {
    width: 95%;
    margin: 0 auto;
  }
}

.tablasMercadoTops {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tablaMercadoTops {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin-bottom: 2px;
  width: 24%;
}
.tablaMercadoTops span {
  vertical-align: middle;
}

.preciosmercadoTops {
  border: 1px solid var(--tema-texto);
  margin: 0;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}

.TituloperiodoTop {
  font-size: small;
}

.varTops {
  cursor: pointer;
}
