.loginDetails {
  position: absolute;
  top: 80px;
  left: 20%;
  width: 60%;
  z-index: 0;
  border: 3px solid var(--tema-texto);
  border-radius: 5px;
  background-color: var(--tema-fondo-tabla);
}

@media screen and (min-width: 750px) and (min-device-width: 1025px) {
  .loginDetails {
    width: 40%;
    left: 30%;
    margin-top: 2%;
  }
}
.loginDetails > div {
  border: 3px solid var(--tema-texto);
  border-radius: 5px;
  width: 85%;
  margin: 1% auto 3%;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}
.loginDetails div form {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.loginDetails > h2,
.loginDetails > h3 {
  text-align: center;
  background-color: var(--tema-fondo-tabla);
}

.inputLogin {
  width: 80%;
  height: 2rem;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
}

.mensajeErrorLogin {
  text-align: center;
}

.button {
  width: 80%;
  height: 2rem;
  border-radius: 15px;
}
