.homeContenedor {
  position: fixed;
  left: 0;
  top: 73px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.homeContenedor > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 0 15px;
  height: 27%;
  border: 2px solid var(--tema-texto);
  border-radius: 25px;
  box-shadow: 0px 0px 1px 1px var(--tema-fondo) inset,
    1px 1px 3px 1px var(--tema-texto);
  cursor: pointer;
}

.home_texto {
  display: block;
  width: 60%;
  background: none;
}
.home_texto p {
  display: block;
  font-style: italic;
  padding-right: 20px;
  background: none;
  font-size: 100%;
  color: var(--tema-fondo-tabla);
  -webkit-text-stroke: 1px var(--tema-texto);
}

.home_uno {
  background-image: linear-gradient(
    to left,
    var(--tema-fondo),
    var(--tema-fondo-tabla),
    var(--tema-header-tabla),
    var(--tema-texto)
  );
}
.home_dos {
  background-image: linear-gradient(
    to left,
    var(--tema-texto),
    var(--tema-header-tabla),
    var(--tema-fondo-tabla),
    var(--tema-fondo)
  );
}
.home_tres {
  background-color: var(--tema-fondo);
  background-image: linear-gradient(
    to left,
    var(--tema-fondo),
    var(--tema-fondo-tabla),
    var(--tema-header-tabla),
    var(--tema-texto)
  );
}

#homeImg1 {
  width: 40vw;
  height: 35vw;
  max-width: 430px;
  max-height: 380px;
  background-color: initial;
  align-self: center;
  filter: drop-shadow(0px 0px 5px var(--tema-fondo));
}

#homeImg2 {
  width: 40vw;
  height: 35vw;
  max-width: 430px;
  max-height: 380px;
  background-color: initial;
  align-self: center;
  filter: drop-shadow(0px 0px 5px var(--tema-fondo));
}
#homeImg3 {
  width: 35vw;
  height: 35vw;
  max-width: 380px;
  max-height: 380px;
  background-color: initial;
  align-self: center;
  filter: drop-shadow(0px 0px 5px var(--tema-fondo));
}

.homeContenedor > div {
  transition: all 500ms ease-in-out;
}
.homeContenedor > div:hover {
  transform: scale(1, 1.1);
  box-shadow: 0px 0px 70px 60px var(--tema-fondo) inset;
  z-index: 1;
}
