.tablasGestionar {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (min-width: 900px) and (min-device-width: 1025px) {
  .tablasGestionar {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1300px) and (min-device-width: 1025px) {
  .tablasGestionar {
    width: 95%;
    display: flex;
    flex-direction: row;
  }
  .tablasGestionar > .tablaGestionar {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 80px; */
  }
  .tablasGestionar > .contenedorGrupos {
    width: 100%;
    margin: 0 auto;
    margin-left: 10px;
  }
  .tablasGestionar > .contenedorGrupos > .tablasGrupos {
    margin: 5px 0px 20px 0px;
  }
}

.contenedortablasGrupos {
  border-radius: 4px;
  border: 2px solid var(--tema-texto);
  padding: 0px;
  margin-bottom: 8px;
  background-color: var(--tema-fondo-tabla);
}
.tablaHeader > td {
  background-color: var(--tema-header-tabla);
}
.tablasGruposOper {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin: 4px 4px;
  padding: 0px;
}

.tablaGruposOper {
  margin: 0px;
  border-collapse: collapse;
  border-style: hidden;
  table-layout: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}
.tablaGruposOper td {
  font-size: 11px;
}

.tablaUsuarios {
  margin: 0px;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}

.tablasUsuarios {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 1% 5%;
}

.tablasUsuarios div {
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
}

.tablasGestionar img {
  cursor: pointer;
}

.tablaNewGrupo p {
  font-size: 11px;
  width: 45%;
  margin-left: 2%;
}
.tablaNewUser p {
  font-size: 0.6rem;
}

.tablaNewGrupo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 0;
}

.tablaNewGrupo form {
  width: 80%;
}

.tablaNewGrupo input {
  width: 90%;
  height: 15px;
  background-color: rgb(166, 185, 135);
  color: black;
}

.tablaNewUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tablaNewUser form {
  width: 50%;
}

.tablaNewUser input {
  width: 100%;
  height: 15px;
  background-color: rgb(223, 236, 202);
  color: black;
}
