.footer {
  font-size: 1.2rem;
  position: fixed;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 25px;
  background-color: var(--tema-fondo);
  border-top: 1px solid var(--tema-texto);
  text-align: center;
  vertical-align: middle;
  z-index: 100;
}
.footer > p {
  text-align: center;
}
