.cargandoDatos {
  width: 80%;
  margin: 0 auto;
  z-index: 10;
  border: 1px solid var(--tema-texto);
  border-radius: 10px;
  background-color: var(--tema-fondo);
}
.cargandoDatos > p {
  display: inline;
  vertical-align: middle;
}
