.tablaMercado {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin-bottom: 6px;
}
.tablaMercado span {
  vertical-align: middle;
}
.tablaMercadovar {
  border-radius: 3px;
  border: 2px solid var(--tema-texto);
  margin-bottom: 6px;
}
.tablaMercadovar span {
  vertical-align: middle;
}

.preciosmercado {
  border: 1px solid var(--tema-texto);
  margin: 0;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}

.preciosMercadoTitulo {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.preciosmercado td {
  cursor: pointer;
}

td {
  border-right: 1px solid var(--tema-texto);
  border-top: 1px solid var(--tema-texto);
  font-size: 10px;
  margin: 0px;
}

.favorita::after {
  font-size: 9px;
  content: '⭐';
}

.consultarOpciones {
  left: 1rem;
}
.consultarOpciones > h3 {
  margin: 0 0 0 0;
  font-size: 0.8rem;
  text-decoration: underline;
}
.opciones-label {
  color: var(--tema-texto-alt);
  font-size: 0.8rem;
}
.opciones {
  background-color: var(--tema-fondo);
  width: 2rem;
  height: 0.6rem;
  margin-right: 1rem;
  background: #d3d3d3;
  outline: none;
  border-radius: 5px;
}

.opciones:hover {
  cursor: pointer;
}

.moneda:hover {
  cursor: pointer;
}

.moneda {
  font-weight: bold;
  font-size: 9px;
}
